img[ci-src] {
  opacity: 0;
}

div.ci-image-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

img.ci-image {
  display: block;
  width: 100%;
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}

img.ci-image-loaded {
  opacity: 1;
}

.ci-bg {
  position: relative;
}

.ci-bg > * {
  position: relative;
}

.ci-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: inherit;
  filter: blur(0);
  transition: filter 0.4s ease-in-out;
}

.ci-bg.ci-bg-animation:before {
  filter: blur(10px);
}

.ci-gallery-modal {
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  visibility: visible;
  opacity: 1;
  background-color: rgba(1, 1, 1, 1);
  text-align: center;
  clear: both;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: slideVertical 400ms cubic-bezier(0.075, 0.42, 0.165, 1);
  z-index: 200;
}

.ci-gallery-preview-module {
  height: 100%;
  position: relative;
}

.ci-gallery-preview-module img.ci-image {
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.ci-gallery-preview-module img.ci-image-preview {
  width: 100%;
  height: 100%;
}

.ci-gallery-preview-module img[ci-src] {
  background-color: black;
}

.ci-gallery-close-button {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 111;
  cursor: pointer;
}

.ci-gallery-thumbnail-module {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 100%;
  height: 40px;
  bottom: 10px;
  left: 0;
  animation: slideHorizontal 400ms cubic-bezier(0.075, 0.42, 0.165, 1);
}

.ci-gallery-thmbnail-container {
  width: 40px;
  height: 40px;
  border: 1px solid #888;
  cursor: pointer;
}

.ci-gallery-right-arrow-button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 111;
  cursor: pointer;
}

.ci-gallery-left-arrow-button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 111;
  cursor: pointer;
}

.ci-gallery-zoom-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes slideVertical {
  0% { transform: translateY(1000px);}
  100% {transform: translateY(0);}
}

@keyframes slideHorizontal {
  0% { transform: translateX(-2000px);}
  100% {transform: translateX(0);}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

