img[ci-src] {
  opacity: 0;
}

div.ci-image-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

img.ci-image {
  display: block;
  width: 100%;
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}

img.ci-image-loaded {
  opacity: 1;
}

.ci-bg {
  position: relative;
}

.ci-bg > * {
  position: relative;
}

.ci-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: inherit;
  filter: blur(0);
  transition: filter 0.4s ease-in-out;
}

.ci-bg.ci-bg-animation:before {
  filter: blur(10px);
}

.ci-gallery-modal {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}

.ci-gallery-preview-module {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ci-gallery-thumbnail-module {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.ci-gallery-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 111;
}

.ci-gallery-thmbnail-container {
  width: 40px;
  height: 40px;
  margin : 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ci-gallery-right-arrow-button {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 111;
}

.ci-gallery-left-arrow-button {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 111;
}

.ci-gallery-zoom-button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
